<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-push-2 col-md-push-2 col-sm-push-2">
    <div class="content-item">
        <div class="validation-heading">
            <h1>Oops!</h1>
        </div>
        <div class="validation-body">
            <p>Error @Response.StatusCode - @Response.StatusDescription</p>
            <p>Please contact the network administrator.</p>
            <a href="@Url.Action("Index", "Home")" class="btn  validation-button">Back to Home</a>
        </div>
    </div>
</div>