@model IEnumerable<Pastebook.Models.CommentModel>

<div class="comment-list" id="comment-list">
    @if(Model.Count() == 0)
    {
        <div class="comment-none">
            <p class="comment-none">No comments yet.</p>
        </div>
    }
    @foreach (var item in Model)
    {
        var viewPostID = item.PostID;
        <div class="comment-item">
            <div class="comment-date">
                <p class="text-uppercase">@Html.DisplayFor(comment => item.DateCreated)</p>
            </div>
            <div class="comment-user">
                <a href="@Url.Action("ViewProfile", "UserProfile", new { profileUsername = item.PosterUsername})">
                    @Html.DisplayFor(comment => item.PosterName)
                </a>
                <div class="comment-content">
                    <p>@Html.DisplayFor(comment => item.Content)</p>
                </div>
            </div>
        </div>
    }
</div>