@model IEnumerable<Pastebook.Models.UserProfileModel>


                    @foreach (var item in Model)
                    {
                            string imgSrc = null;
                            if (item.ProfilePic != null)
                            {
                                var base64 = Convert.ToBase64String(item.ProfilePic);
                                imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            }
                        <div>
                            <img src="@imgSrc" height="50" width="50" />
                            <a href="@Url.Action("ViewProfile", "UserProfile", new { profileUsername = Html.DisplayFor(friend => item.Username)})">
                                @Html.DisplayFor(friend => item.FirstName) @Html.DisplayFor(friend => item.LastName)
                            </a>
                        </div>
                    }

