.main-navigation {
	padding-top: 0; 
    padding-right: 0;
	width: 310px;
	position: absolute;
	top: 0;
	left: 0;
}

.main-menu {
	float: left;
	width: 100%;
}

.main-menu-link {
	color: #fff;
	display: block;
	font-weight: 300;
	font-size: 15px;	
}

.main-menu-link-text {
	margin-bottom: 0;
	position: absolute;
	left: 20px;
	bottom: 15px;
}

.menu-container {	
	padding-left: 0;
	overflow: auto;
	margin-bottom: 10px;
}
.menu-container:last-child { 
    margin-bottom: 0; 
}

.block-keep-ratio {	
    position: relative; 
}
	
.block-keep-ratio-content {
	position: absolute;
	top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0;
	}

.block-keep-ratio:after {
	display: block;
	content: '';
}

.block-width-full {	
    width: 100%; 
}
.block-width-half { 
    width: 150px; 
}

.block-keep-ratio-1-1:after {	
    padding-top: 80%;
}

.block-keep-ratio-2-1:after {	
    padding-top: 40%; 
}

.home {
	background-color: #21839A;
    background-image: url(images/home-1.png);
    background-repeat: no-repeat;
    background-size: 7vh;
    background-position: center;
}

.profile{
    background-color: #F86330;
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    background-size: 6vh;
    background-position: center;
}

.friends{
    background-color: #22AD6A;
    background-image: url(images/users-1.png);
    background-repeat: no-repeat;
    background-size: 6vh;
    background-position: center;
}

.notifications{
    background-color: #F89330;
    background-image: url(images/notification.png);
    background-repeat: no-repeat;
    background-size: 5vh;
    background-position: center;
}

.search{
    background-color: #21839A;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 7vh;
    background-position: center;
}

.settings{
    background-color: #F86330;
    background-image: url(images/settings-5.png);
    background-repeat: no-repeat;
    background-size: 6vh;
    background-position: center;
}

.logout{
    background-color: #22AD6A;
    background-image: url(images/exit-2.png);
    background-repeat: no-repeat;
    background-size: 6vh;
    background-position: center;
}

.main-menu-link:hover {	
    color: #66FFFF; 
}

.main-menu-link:focus {	
    color: #fff; 
}