<div class="content-main">
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="banner-main-home">
                <div class="banner-main-home-text">
                    <div class="heading">
                        <h3>SUCCESSFULLY REISTERED!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
