<div class="content-main">
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="content-item">
                <div class="add-post">
                    <div class="row">
                        <div class="col-md-12 add-post-content">
                            <textarea rows="5" id="txtPostContent" class="add-post-textarea form-control" placeholder="What's on your mind?"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-9 add-post-buttons-area">
                            <span id="postValidation" class="add-post-validation"> </span>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" id="btnAddPost" class="btn add-post-button">Post Status</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
