<footer class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footer">
        <p class="copyright">
            <p>Design and website by Lizbeth Oliman.</p>
            <p>Navigation icons designed by Freepik and distributed by Flaticon.</p>
        </p>
    </div>
</footer>
